<h1>Teacher Sign up</h1>

<form action="/post_teacher" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="email_from_query" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="name_box">Name</label>
      
    <input type="text" id="name_box" name="name_from_query">
  </div>
         
  <div>
    <label for="schedule_box">Schedule</label>
        <label for="mon">Mon</label>
        <input id="mon" name="schedule_from_query1" type="checkbox" value="Mon">

        <label for="tue">Tue</label>
        <input id="tue" name="schedule_from_query2" type="checkbox" value="Tue">

        <label for="wed">Wed</label>
        <input id="wed" name="schedule_from_query3" type="checkbox" value="Wed">

        <label for="thu">Thu</label>
        <input id="thu" name="schedule_from_query4" type="checkbox" value="Thu">

        <label for="fri">Fri</label>
        <input id="fri" name="schedule_from_query5" type="checkbox" value="Fri">

    
  </div>
         
  <div>
    <label for="expertise_box">Expertise</label>
      
    <input type="text" id="expertise_box" name="expertise_from_query">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="password_from_query" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="password_confirmation_from_query" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/teacher_sign_in">Sign in</a> instead.
</p>
