<div >
  <h5>
    Edit Teacher Account
  </h5>

  <div>
    <form action="/patch_teacher" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="email_from_query" value="<%= @current_teacher.email %>">
      </div>
      <div>
        <label for="name_box">Name</label>
        <input id="name_box" name="name_from_query" value="<%= @current_teacher.name %>">
      </div>
      <div>
        <label for="schedule_box">Schedule</label>
        <textarea id="schedule_box" name="schedule_from_query" rows="3"><%= @current_teacher.schedule %></textarea> 
      </div>
      <div>
        <label for="expertise_box">Expertise</label>
        <input id="expertise_box" name="expertise_from_query" value="<%= @current_teacher.expertise %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="password_from_query" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="password_confirmation_from_query" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
